body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 0;
  margin:0;
}

body section {
  float:left;
  position:relative;
  display:block;
}

body .section-title {
  height: 50vh;
  width: 50%;
  background-image: url('../images/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .section-title .title {
  width: 70%;
  right: 0;
  position: absolute;
  bottom: 0;
  color: #0f0f0f;
  padding:20px;
}

body .section-title .title .main-logo {
  height:85px;
  margin:10px;
  float:right;
}

body .section-title .title h1 {
  display:block;
  letter-spacing:12px;
  font-weight:300;
  font-size:40px;
  float:right;
  margin:0;
  margin-top:10px;
  text-align:right;
}

body .section-title .title h2 {
  float:right;
  margin:0;
  margin-top:10px;
  text-align:right;
}

body .section-about {
  height:50vh;
  width:50%;
  background-color:rgba(255,77,0,.75);
}

body .section-about .about {
  padding:20px;
  float:right;
  position:relative;
  width:65%;
}

body .section-about .about h2 {
  margin:0;
  text-align:right;
}

body .section-about .about p {
  text-align:right;
  font-weight:600;
  text-transform:none;
  letter-spacing:1px;
  font-size:14px;
}

body .section-projects {
  height:50vh;
  width:50%;
  background-color:rgba(255,77,0,.35);
}

body .section-projects .description {
  padding:10px;
  padding-left:20px;
  padding-top: 0;
  float:left;
  position:relative;
  width:80%;
  display:none;
}

body .section-projects .description p {
  text-align:left;
  font-weight:600;
  text-transform:none;
  letter-spacing:1px;
  font-size:13.5px
}

body .section-projects .projects {
  position:absolute;
  bottom:0;
  padding:20px
}

body .section-projects .projects h2 {
  margin:0
}

body .section-projects .projects p {
  letter-spacing:6px;
  padding-top:10px
}

body .section-projects .projects p a {
  color:#000;
  text-decoration:none
}

body .section-projects .projects p a:hover {
  color:#fff;
  text-decoration:none
}

body .section-contact {
  height:50vh;
  width:50%;
  background-color:#ff4d00
}

body .section-contact .contact {
  padding:20px
}

body .section-contact .contact h2 {
  margin-top:0
}

body .section-contact .contact a {
  width:5%;
  margin-left:5px;
  color:#000
}

body .section-contact .contact a i {
  font-size:32px
}

body .section-contact .contact a:hover {
  color:#fff
}

@media only screen and (max-width:910px) {
  body .section-title {
    height:50vh;
    width:100%
  }
  body .section-projects {
    height:50vh;
    width:100%
  }
  body .section-about {
    height:50vh;
    width:100%
  }
  body .section-contact {
    height:50vh;
    width:100%
  }
}
